.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;
  width: 400px;
}

.container {
  width: 80%;
  max-width: 400px;
  margin: auto;
  padding: 10px;
  box-shadow: 0 0 25px rgba(0,0,0,0.2);
}
body {

  font-family: tahoma;
}
h3 {
  text-align: center;
}

h3 span {
  color: forestgreen;
}
